 <h1>Trainings &Uuml;bersicht</h1>

  <h2>In dieser &Uuml;bersicht k&ouml;nnen sie alle Trainings einsehen </h2>
  <h3>Mit Hilfe des ADD Buttons k&ouml;nnen sie ein neues training hinzufuegen </h3>

  <a routerLink="add" class="btn btn-sm btn-success mb-2">ADD</a>
  <p></p>

  <table class="table table-striped">
    <thead>
    <tr>
      <th style="width: 30%">Trainingsname</th>
      <th style="width: 30%">Handlungsm&ouml;glichkeit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let training of trainings; let indexOfelement=index;">
      <td style="width: 30%">{{training.name}}</td>
      <td style="white-space: nowrap">
        <a routerLink="edit/{{training.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
        <button type="button" (click)="deleteTraining(training.id)" class="btn btn-sm btn-danger">delete</button>

      </td>
    </tr>

    </tbody>
  </table>

