<h1 *ngIf="isAddMode">Benutzer hinzufügen</h1>
<h1 *ngIf="!isAddMode">Benutzer bearbeiten</h1>

<label for="firstName">Vorname</label>
<input type="text" class="form-control form-control-sm" name="firstName" id="firstName" [(ngModel)]="model.firstName"/>
<label for="lastName">Nachname</label>
<input type="text" class="form-control form-control-sm" name="lastName" id="lastName" [(ngModel)]="model.lastName"/>
<label for="username">Benutzername</label>
<input type="text" class="form-control form-control-sm" name="username" id="username" [(ngModel)]="model.username"/>
<label for="password">
  Passwort
  <em *ngIf="!isAddMode">(Leave blank to keep the same password)</em>
</label>
<input type="password" class="form-control form-control-sm" name="password" id="password" [(ngModel)]="model.password"/>
<br>
<mat-form-field appearance="fill">
  <mat-label>Wähle die Benutzerrollen aus</mat-label>
  <mat-select multiple [(ngModel)]="model.roles" [compareWith]="compareRole">
    <mat-option *ngFor="let singleRole of rolelist" [value]="singleRole">{{singleRole.name}}</mat-option>
  </mat-select>
</mat-form-field>
<br>
<button [disabled]="loading" class="btn btn-success" (click)="onSubmit()">
  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
  <fa-icon icon="floppy-disk"></fa-icon>
</button>
<a routerLink="/users" class="btn btn-danger">
  <fa-icon icon="xmark"></fa-icon>
</a>
