<form>

  <h1>Task List</h1>
<!--  <div *ngIf="isCreateMode">-->
    <h2>Selectieren sie die aufgaben und geben sie den Namen des Trainings an</h2>
    <label>Trainingsname</label>
    <input type="text">
<!--  </div>-->




  <table class="table table-striped">
    <thead>
    <tr>
      <th style="width: 30%">Aufgabenname</th>
      <th style="width: 30%">ID</th>

    </tr>
    </thead>
    <tbody>


    <div *ngFor="let task of tasks; let indexOfelement=index;">

      <tr>


        <td style="width: 30%">{{task[0]}}</td>
        <td style="width: 30%">{{task[1]}}</td>
        <td style="white-space: nowrap">
          <a *ngIf="isAddMode" routerLink="edit/{{task[1]}}" class="btn btn-sm btn-primary mr-1">Edit</a>
          <button *ngIf="isAddMode" (click)="deleteTask(indexOfelement)" class="btn btn-sm btn-danger btn-delete-user" >delete</button>
          <input  type="checkbox" >
<!--          *ngIf="isCreateMode"-->
        </td>
      </tr>

    </div >


    </tbody>
  </table>



</form>

