
<form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
<header>

  <h1 *ngIf="isAddMode">Aufgabe erstellen</h1>
  <h1 *ngIf="!isAddMode">Aufgabe &Auml;ndern</h1>

<div >

  <label>Aufgabenname</label> <input type="text" min="1" max="50">
  <br>
  <select name="schwierigkeit">
    <option  value="einfach">einfach</option>
    <option value="mittel">mittel</option>
    <option  value="schwer">schwer</option>
  </select>


  <select name="trainingtype">
    <option  value="grammatik">Grammatik</option>
    <option  value="lueckentext">L&uuml;ckentext</option>
    <option  value="zeichensetzung">Zeichensetzung</option>
    <option  value="groß/kleinschreibung">groß/klein Schreibung</option>
  </select>
  <br>
</div>

</header>

<div style="width: 40%;display: flex" class="left">
  <textarea name="textarea" rows="15" cols="30">

  </textarea>

</div>
  <div style="width: 60%" class="rechts">
<div *ngFor="let loesung of loesungen; let indexOfelement=index;">

    <div *ngFor="let antwort of loesung; let indexOfelement2=index;">
      <input type="checkbox"[checked]="antwort[0]"><input type="text" [value]="antwort[1]">
      <button class="btn btn-sm btn-danger"(click)="optiondrop(indexOfelement,indexOfelement2)"><fa-icon icon="trash"></fa-icon></button>
    </div>
  <button class="btn btn-sm btn-circle btn-success mb-2"(click)="optionadd(indexOfelement)"><fa-icon icon="plus"></fa-icon></button>
  <!--- <button (click)="lueckedrop(indexOfelement)">luecke entfernen</button> --->

</div>
<button (click)="lueckeadd(loesungen.length)">Luecke hinzufuegen</button>

  </div>

  <button *ngIf="isAddMode" >Speichern</button>
  <button *ngIf="isAddMode" >Abbrechen</button>


</form>


