<form class="container" (ngSubmit)="onSubmit()">
  <header>

    <h1 *ngIf="isAddMode">Aufgabe erstellen</h1>
    <h1 *ngIf="!isAddMode">Aufgabe &Auml;ndern</h1>

    <div>

      <label>Aufgabenname</label> <input [(ngModel)] = "model.name" name="name" type="text" min="1" max="50">
      <br>
      <select name="schwierigkeit" [(ngModel)] = "model.difficulty" name="difficulty">
        <option [value]="difficulty" *ngFor="let difficulty of difficultyOptions">{{difficulty}}</option>
      </select>


      <select name="taskType" [(ngModel)] = "model.category" name="category">
        <option [value]="taskType" *ngFor="let taskType of taskTypeOptions">{{taskType}}</option>
      </select>
      <br>
    </div>

  </header>

  <div>
  <textarea name="textarea" rows="15" cols="30">

  </textarea>

    <h2>Hier können sie ein Bild zur erklärung hinzufuegen</h2>
    <ng-container *ngIf="isImageSaved;">
      <img [src]="cardImageBase64" style="width: 150px;"/>
    </ng-container>
    <fieldset class="form-group">

      <div class="custom-file fileInputProfileWrap">

        <input type="file" [(ngModel)] = "model.picture" name="picture" (change)="CreateBase64String($event)" class="fileInputProfile form-control">
      </div>
    </fieldset>
    <h2>Hier k&ouml;nnen sie den L&ouml;sungshinweiß einpflegen falls es einen gibt.</h2>
    <label>L&ouml;sungshinweiß</label>
    <input [(ngModel)] = "model.solution.hint" name="hint"type="Text">
  </div>
  <div style="width: 60%" class="rechts">
    <div *ngFor="let loesung of model.solution.solutionGaps; let indexOfelement=index;">
      <div *ngFor="let antwort of loesung.solutionOptions; let indexOfelement2=index;">
        <input type="checkbox" [(ngModel)] = "antwort.rightAnswer" name="rightAnswer" [checked]="antwort.rightAnswer"><input type="text" [(ngModel)] = "antwort.optionName" name="optionName" [value]="antwort.optionName">
        <button type="button" class="btn btn-sm btn-danger" (click)="optiondrop(indexOfelement,indexOfelement2)">
          <fa-icon icon="trash"></fa-icon>
        </button>
      </div>
      <button type="button" class="btn btn-sm btn-circle btn-success mb-2" (click)="optionadd(indexOfelement)">
        <fa-icon icon="plus"></fa-icon>
      </button>
      <!--- <button (click)="lueckedrop(indexOfelement)">luecke entfernen</button> --->
    </div>
    <button type="button" (click)="lueckeadd(model.solution.solutionGaps.length)">Luecke hinzufuegen</button>
  </div>
  <button type="button">Abbrechen</button>
  <button>Speichern</button>
</form>


