
<form [formGroup]="form" (ngSubmit)="onSubmit()">
<header>

  <h1 *ngIf="isAddMode">Aufgabe erstellen</h1>
  <h1 *ngIf="!isAddMode">Aufgabe &Auml;ndern</h1>


  <label>Aufgabenname</label> <input type="text" min="1" max="50">
  <br>
  <select>
    <option name="schwieriugkeit" value="einfach">einfach</option>
    <option name="schwieriugkeit" value="mittel">mittel</option>
    <option name="schwieriugkeit" value="schwer">schwer</option>
  </select>


  <select>
    <option name="trainingtype" value="grammatik">Grammatik</option>
    <option name="trainingtype" value="lueckentext">l&uuml;ckentext</option>
    <option name="trainingtype" value="zeichensetzung">Zeichensetzung</option>
    <option name="trainingtype" value="groß/kleinschreibung">groß/klein Schreibung</option>
  </select>
  <br>

</header>

<div class="left">
  <textarea name="textarea" rows="15" cols="30">

  </textarea>

</div>
  <div class="rechts">
<div *ngFor="let loesung of loesungen; let indexOfelement=index;">

    <div *ngFor="let antwort of loesung; let indexOfelement2=index;">
      <input type="checkbox"[checked]="antwort[0]"><input type="text" [value]="antwort[1]">
      <button (click)="optiondrop(indexOfelement,indexOfelement2)">X</button>
    </div>
  <button (click)="optionadd(indexOfelement)">option hinzufuegen</button>
  <button (click)="lueckedrop(indexOfelement)">luecke entfernen</button>

</div>
<button (click)="lueckeadd(loesungen.length)">Luecke hinzufuegen</button>

  </div>



</form>


