<a routerLink="add" class="btn btn-sm btn-circle btn-success mb-2"><fa-icon icon="plus"></fa-icon></a>
<p></p>


<table class="table table-striped">
  <thead>
  <tr>
    <th style="width: 30%">Aufgabenname</th>
    <th style="width: 30%">Schwierigkeitsgrad</th>
    <th style="width: 30%">Handlungsm&ouml;glichkeit</th>


  </tr>
  </thead>
  <tbody>
  <!--
  use hidden keyword
   -->
  <tr *ngFor="let task of tasks; let indexOfelement=index;">
    <td style="width: 30%">{{task.name}}</td>
    <td style="width: 30%">{{task.difficulty}}</td>
    <td style="white-space: nowrap">
      <a routerLink="edit/{{task.id}}" class="btn btn-sm btn-primary mr-1"><fa-icon icon="pen-to-square"></fa-icon></a>
      <button type="button" (click)="deleteTask(task.id)" class="btn btn-sm btn-danger "><fa-icon icon="trash"></fa-icon></button>
    </td>
  </tr>


  </tbody>
</table>





