<form>

  <h1>Aufgaben &Uuml;bersicht</h1>

    <h2>In dieser &Uuml;bersicht k&ouml;nnen sie alle Aufgaben einsehen </h2>
  <h3>Mit Hilfe des ADD Buttons k&ouml;nnen sie eine neue Aufgabe hinzufuegen </h3>

  <button ><a routerLink="add">ADD</a></button>
  <p></p>


  <table class="table table-striped">
    <thead>
    <tr>
      <th style="width: 30%">Aufgabenname</th>
      <th style="width: 30%">Schwierigkeitsgrad</th>
      <th style="width: 30%">Handlungsm&ouml;glichkeit</th>


    </tr>
    </thead>
    <tbody>

    <div *ngFor="let task of tasks; let indexOfelement=index;">

      <tr>

        <td style="width: 30%">{{task[0]}}</td>
        <td style="width: 30%">{{task[1]}}</td>
        <td style="white-space: nowrap">
          <a  routerLink="edit/{{task[1]}}" class="btn btn-sm btn-primary mr-1">Edit</a>
          <button  (click)="deleteTask(indexOfelement)" class="btn btn-sm btn-danger btn-delete-user" >delete</button>


        </td>
      </tr>

    </div >


    </tbody>
  </table>



</form>

