<form (ngSubmit)="onSubmit()">

  <div class="trainingsauswahl"  [(ngModel)] = "model" >


    <div>


      <select name="schwierigkeit" [(ngModel)] = "model.d" name="difficulty">
        <option [value]="difficulty" *ngFor="let difficulty of difficultyOptions">{{difficulty}}</option>
      </select>


      <select name="taskType" [(ngModel)] = "model.category" name="category">
        <option [value]="taskType" *ngFor="let taskType of taskTypeOptions">{{taskType}}</option>
      </select>
      <br>
    </div>
<!--    <p>Trainingsauswahl! Bitte w&auml;hlen sie ihre Gew&uuml;nschte Kategorie aus  </p><br>-->


<!--    <input type="radio" name="trainingType" value="1"> Grammatik <br>-->
<!--    <input type="radio" name="trainingType" value="2"> L&uuml;ckentext <br>-->
<!--    <input type="radio" name="trainingType" value="3"> Zeichensetzung <br>-->
<!--    <input type="radio" name="trainingType" value="4"> groß/klein Schreibung <br>-->



<!--  </div>-->

<!--  <div class="Schwierigkeitskategorie" [(ngModel)] = "model.difficulty" name='difficulty'>-->
<!--    <p>Bitte W&auml;hlen sie die gew&uuml;nschte Schwierigkeit aus</p><br>-->

<!--    <input type="radio" name="schwierigkeit" value="1"> einfach <br>-->
<!--    <input type="radio" name="schwierigkeit" value="2"> mittel <br>-->
<!--    <input type="radio" name="schwierigkeit" value="3"> schwer <br>-->


<!--  </div>-->

  <div class="anzFragen" [(ngModel)] = "model.anzahl" name='anzahl'>
    <p>Anzahl Fragen</p>
    <input type="number" min="1" max="10" step="1" value="1">

  </div>

  <button type="submit"><a routerLink="/doTraining">Start</a></button>
  <div class="individualTraining">
    <p>Individuelle Aufgaben/Training von der Lehrkraft </p>

    <tbody>
    <tr>Trainingsname</tr>


    <tr style="width: 50%" *ngFor="let training of trainingsliste">
      <td>
        {{training}}

      </td>
      <td>
        <button><a routerLink="/doTraining">Start</a></button>

      </td>




    </tr>

    </tbody>


  </div>

  </div>

</form>
