
<div class="trainingsauswahl">
  <p>Trainingsauswahl! Bitte w&auml;hlen sie ihre Gew&uuml;nschte Kategorie aus  </p><br>


    <input type="radio" name="trainingType" value="1"> Grammatik <br>
    <input type="radio" name="trainingType" value="2"> L&uuml;ckentext <br>
    <input type="radio" name="trainingType" value="3"> Zeichensetzung <br>
    <input type="radio" name="trainingType" value="4"> groß/klein Schreibung <br>



</div>

<div class="Schwierigkeitskategorie">
  <p>Bitte W&auml;hlen sie die gew&uuml;nschte Schwierigkeit aus</p><br>

    <input type="radio" name="schwierigkeit" value="1"> einfach <br>
    <input type="radio" name="schwierigkeit" value="2"> mittel <br>
    <input type="radio" name="schwierigkeit" value="3"> schwer <br>


</div>

<div class="anzFragen">
  <p>Anzahl Fragen</p>
  <input type="number" min="1" max="10" step="1" value="1">

</div>

<button>Start</button>
<div class="individualTraining">
  <p>Individuelle Aufgaben/Training von der Lehrkraft </p>


    <select name="individualTraining"  >

      <option *ngFor="let training of trainingsliste">{{training}}</option>

    </select>
  <tbody>
  <tr *ngFor="let training of trainingsliste">
    <td>

    </td>


  </tr>
  <
  </tbody>


</div>
