

  <div class="trainingsauswahl"  [(ngModel)] = "model" >


    <div>


      <select name="schwierigkeit" [(ngModel)] = "model.trainingDifficulty" name="difficulty">
        <option [value]="difficulty" *ngFor="let difficulty of difficultyOptions">{{difficulty}}</option>
      </select>


      <select name="taskType" [(ngModel)] = "model.trainingCategory" name="category">
        <option [value]="taskType" *ngFor="let taskType of taskTypeOptions">{{taskType}}</option>
      </select>
      <br>
    </div>


  <div class="anzFragen" >
    <p>Anzahl Fragen</p>
    <input type="number" [(ngModel)] = "model.taskAmount" name='taskAmount' min="1" max="10" step="1" value="1">

  </div>

  <button type="button" (click)="createTraining()" >Starte Training </button>
  <div class="individualTraining">
    <p>Individuelle Aufgaben/Training von der Lehrkraft </p>

    <tbody>
    <tr>Trainingsname</tr>


    <tr style="width: 50%" *ngFor="let training of trainingsliste">
      <td>
        {{training.name}}

      </td>
      <td>
        <button><a routerLink="/doTraining/schueler/{{training.id}}">Start Individual</a></button>

      </td>




    </tr>

    </tbody>


  </div>

  </div>


