<!DOCTYPE html>
<html>

<header>
  <meta lang="DE">
  <meta charset="UTD-8">
  <meta name="author" content="Chris Leon Brinkhoff">

</header>
<body>
<div class="user" >
  <p>Hier steht der Benutzername</p>
  <button>Abmelen</button>
</div>
<div class="trainingsauswahl">
  <p>Trainingsauswahl! Bitte w&auml;hlen sie ihre Gew&uuml;nschte Kategorie aus  </p><br>
  <button>Grammatik</button>
  <button>L&uuml;ckentext</button>
  <button>Zeichensetzung</button>
  <button>gro&szlig;/klein Schreibung</button>

</div>

<div class="Schwierigkeitskategorie">
  <p>Bitte W&auml;hlen sie die gew&uuml;nschte Schwierigkeit aus</p><br>
  <button>einfach </button>
  <button>mittel</button>
  <button>schwer</button>

</div>

<div class="anzFragen">
  <p>Anzahl Fragen</p>
  <input type="number" min="1" max="10" step="1" value="1">

</div>
<div class="individualTraining">
  <p>Individuelle Aufgaben/Training von der Lehrkraft </p>
  <button>Individuelle Aufgaben</button>

</div>

<div class="startBtn">
  <button>Start</button>
</div>



</body>
</html>
