<h1>Training </h1>

<mat-accordion>
  <mat-expansion-panel *ngFor=" let aufgabe of model.processedSolutionTasks; let index = index;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{aufgabe.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{aufgabe.text}}</p>
    <div *ngIf="aufgabe.picture !=''">
      <img src="{{aufgabe.picture}}">
    </div>
    <br>
    <div
      *ngFor="let loesung of model.processedSolutionTasks[index].solution.solutionGaps; let lueckeIndex=index;trackBy:trackByIndex;">
      L&uuml;cke {{lueckeIndex + 1}}
      <span
        *ngFor="let antwort of model.processedSolutionTasks[index].solution.solutionGaps[lueckeIndex].solutionOptions; let optionIndex=index;trackBy:trackByIndex;">

              <div class="input-group d-inline-flex w-auto">
      <div class="input-group">
    <div class="input-group-text"
         [id]="'btnGroupAddon'+lueckeIndex+optionIndex"><input
      type="checkbox"
      [(ngModel)]="model.processedSolutionTasks[index].solution.solutionGaps[lueckeIndex].solutionOptions[optionIndex].checkedAnswer"
      name="rightAnswer{{lueckeIndex + ''+ optionIndex}}"
      [checked]="model.processedSolutionTasks[index].solution.solutionGaps[lueckeIndex].solutionOptions[optionIndex].checkedAnswer">
        </div>
        <input [attr.aria-describedby]="'btnGroupAddon'+lueckeIndex+optionIndex" class="form-control form-control-sm"
               type="text"
               [(ngModel)]="model.processedSolutionTasks[index].solution.solutionGaps[lueckeIndex].solutionOptions[optionIndex].optionName"
               name="optionName{{lueckeIndex + ''+ optionIndex}}" disabled>
  </div>
    </div>
            </span>
    </div>
    <button
      type="button"
      class="btn btn-sm btn-primary mt-2"
      (click)="alertService.info(aufgabe.solution.hint)">Lösungshinweiß
    </button>
    <br>
  </mat-expansion-panel>
</mat-accordion>
<br>
<button (click)="onSubmit()" class="btn btn-success ">
  <fa-icon icon="floppy-disk"></fa-icon>
</button>
&nbsp;
<a routerLink="/schueler" class="btn btn-danger ">
  <fa-icon icon="xmark"></fa-icon>
</a>
