<h1>Training </h1>
<div>

<!--  <div class="accordion" id="accordionExample">-->
<!--    <div class="card" *ngFor=" let aufgabe of model.processedSolutionTasks; let index = index;" >-->
<!--      <div class="card-header" id="heading{{index}}">-->
<!--        <h2 class="mb-0">-->
<!--          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapse'+index" aria-expanded="true" [attr.aria-controls]="'collapse'+index">-->
<!--            {{aufgabe.name}}-->
<!--          </button>-->
<!--        </h2>-->
<!--      </div>-->

<!--      <div id="collapse{{index}}" class="collapse show" [attr.aria-labelledby]="'heading'+index" data-parent="#accordionExample">-->
<!--        <div class="card-body">-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<div class="accordion" id="accordionExample">
  <div class="accordion-item" *ngFor=" let aufgabe of model.processedSolutionTasks; let index = index;">
    <h2 class="accordion-header" id="heading{{index}}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+index" aria-expanded="true" [attr.aria-controls]="'collapse'+index">
        {{aufgabe.name}}
      </button>
    </h2>
    <div id="collapse{{index}}" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading'+index" data-bs-parent="#accordionExample" >
      <div class="accordion-body">
        <p>{{aufgabe.text}}</p>
        <div *ngIf="aufgabe.picture !=''">
          <img src="{{aufgabe.picture}}">
        </div>
        <div
          *ngFor="let loesung of model.processedSolutionTasks[index].solution.solutionGaps; let lueckeIndex=index;trackBy:trackByIndex;">
          L&uuml;cke {{lueckeIndex}}
          <span
            *ngFor="let antwort of model.processedSolutionTasks[index].solution.solutionGaps[lueckeIndex].solutionOptions; let optionIndex=index;trackBy:trackByIndex;">

              <div class="input-group d-inline-flex w-auto">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox"
                           [(ngModel)]="model.processedSolutionTasks[index].solution.solutionGaps[lueckeIndex].solutionOptions[optionIndex].rightAnswer"
                           name="rightAnswer{{lueckeIndex + ''+ optionIndex}}"
                           [checked]="model.processedSolutionTasks[index].solution.solutionGaps[lueckeIndex].solutionOptions[optionIndex].rightAnswer">
                  </div>
                </div>
                <input class="form-control form-control-sm" type="text"
                       [(ngModel)]="model.processedSolutionTasks[index].solution.solutionGaps[lueckeIndex].solutionOptions[optionIndex].optionName"
                       name="optionName{{lueckeIndex + ''+ optionIndex}}" disabled>
              </div>
            </span>
        </div>
        <button
          type="button"
          class="btn btn-sm btn-primary mt-2"
          (click)="alertService.info(aufgabe.solution.hint)">Lösungshinweiß
        </button>
        <br>
      </div>
    </div>
  </div>
</div>

    <button (click)="onSubmit()" class="btn btn-success ">
      <fa-icon icon="floppy-disk"></fa-icon>
    </button>
    &nbsp;
    <a routerLink="/schueler" class="btn btn-danger ">
      <fa-icon icon="xmark"></fa-icon>
    </a>
</div>
