/*In der CSS Datei werden extra CSS Styles definert die benötigt werden, um eine Schöne Darstellung zu realisieren Wir verwenden allerdings noch Bootstrap dieses Framework übernimmt die meisten Styles
@author Chris Leon Brinkhoff
*/
.output-group-group {
  margin-right: 10px;
  margin-bottom: 10px;
}

.input-group {
  margin-right: 10px;
}
.h2{
  margin: 0px;
}
.mat-h2, .mat-title, .mat-typography .mat-h2, .mat-typography .mat-title, .mat-typography h2{
  margin: 0px;
}
