<!--<div class="sticky">
  <a style="min-height: auto" routerLink="add" class="btn   btn-sm btn-circle btn-success mb-2 "><fa-icon icon="plus"></fa-icon></a>
  <p></p>


  <table class="table table-striped">
    <thead style="min-height:auto" >
    <tr>
      <th style="width: 20%">Aufgabenname</th>
      <th style="width: 20%">Schwierigkeitsgrad</th>
      <th style="width: 30%">Handlungsm&ouml;glichkeit</th>


    </tr>
    </thead>
  </table>

</div>

<table  class="table start table-striped">
  <tbody style="">

  <tr *ngFor="let task of tasks; let indexOfelement=index;">
    <td style="width: 30%">  {{task.name}}</td>
    <td style="width: 30%">  {{task.difficulty}}</td>
    <td style="white-space: nowrap">
      <a routerLink="edit/  {{task.id}}" class="btn btn-sm btn-primary mr-1"><fa-icon icon="pen-to-square"></fa-icon></a>
      <button type="button" (click)="deleteTask(task.id)" class="btn btn-sm btn-danger "><fa-icon icon="trash"></fa-icon></button>
    </td>
  </tr>


  </tbody>
</table>-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>


  <style>
    .header {
      position: sticky;
      top:0;
    }
    .container {
      width: 100%;
      height: 100%;
      overflow: auto;
    }
    h1{
      color: black;
    }
  </style>
</head>

<body>


  <table class="table table-borderless">



    <thead style="position: sticky;top: 0;border-bottom: 0;background: white;" >
    <tr>
      <th>
        <a style="min-height: auto" routerLink="add" class="btn   btn-sm btn-circle btn-success mb-2 "><fa-icon icon="plus"></fa-icon></a>

      </th>
      <th>

      </th>
      <th>

      </th>
    </tr>
    <tr>
      <th style="width: 20%">Aufgabenname</th>
      <th style="width: 20%">Schwierigkeitsgrad</th>
      <th style="width: 30%">Handlungsm&ouml;glichkeit</th>


    </tr>

    </thead>


    <tbody >
    <tr *ngIf="tasks.length==0">
      <td colspan="4" class="text-center">
        <span *ngIf="loading" class="spinner-border spinner-border-lg align-center"></span>
        <span *ngIf="!loading">Keine Aufgaben gefunden</span>
      </td>
    </tr>
    <tr *ngFor="let task of tasks; let indexOfelement=index;">
      <td style="width: 30%">  {{task.name}}</td>
      <td style="width: 30%">  {{task.difficulty}}</td>
      <td style="white-space: nowrap">
        <a routerLink="edit/  {{task.id}}" class="btn btn-sm btn-primary mr-1"><fa-icon icon="pen-to-square"></fa-icon></a>
        <button type="button" (click)="deleteTask(task.id)" class="btn btn-sm btn-danger "><fa-icon icon="trash"></fa-icon></button>
      </td>
    </tr>


    </tbody>



  </table>

</body>

</html>
