<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
    <a class="nav-item nav-link" routerLink="/schueler" routerLinkActive="active">Schüler</a>
    <a class="nav-item nav-link" routerLink="/dozent" routerLinkActive="active">Dozent</a>
    <a class="nav-item nav-link" routerLink="/taskView" routerLinkActive="active">Aufgaben &Uuml;bersicht</a>
    <a class="nav-item nav-link" routerLink="/trainingView" routerLinkActive="active">Training &Uuml;bersicht</a>
    <a class="nav-item nav-link" routerLink="/training" routerLinkActive="active">Training </a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>
