<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><fa-icon icon="home" class="fa-lg"></fa-icon></a>
    <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active"><fa-icon icon="users" class="fa-lg"></fa-icon></a>
    <a class="nav-item nav-link" routerLink="/schueler" routerLinkActive="active">Schüler</a>
    <a *ngIf="isTeacher()" class="nav-item nav-link" routerLink="/task" routerLinkActive="active">Aufgaben &Uuml;bersicht</a>
    <a *ngIf="isTeacher()" class="nav-item nav-link" routerLink="/training" routerLinkActive="active">Training &Uuml;bersicht</a>
    <a *ngIf="isTeacher()" class="nav-item nav-link" routerLink="/evaluation" routerLinkActive="active">Auswertung</a>
    <a class="nav-item nav-link nav-right" (click)="logout()">
      <fa-icon icon="door-open" class="fa-lg"></fa-icon>
    </a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>
