<!DOCTYPE html>
<html>

<header>
  <meta lang="DE">
  <meta charset="UTD-8">
  <meta name="author" content="Chris Leon Brinkhoff">

</header>
<body>


<div class="trainingsdefinitionDoz">
  <p>Trainingsdefinition Bitte w&auml;hlen sie aus f&uuml;r welche Kategorie eine Aufgabe angelegt werden soll  </p><br>

   <input type="radio" name="trainingType" value="1"> Grammatik <br>
   <input type="radio" name="trainingType" value="2"> L&uuml;ckentext <br>
   <input type="radio" name="trainingType" value="3"> Zeichensetzung <br>
   <input type="radio" name="trainingType" value="4"> groß/klein Schreibung <br>



</div>


<div class="SchwierigkeitskategorieDoz">
  <p>Bitte W&auml;hlen sie die  Schwierigkeit aus</p><br>

    <input type="radio" name="schwierigkeit" value="1"> einfach <br>
    <input type="radio" name="schwierigkeit" value="2"> mittel <br>
    <input type="radio" name="schwierigkeit" value="3"> schwer <br>




</div>


<div class="anlgenBtn">
  <button>Training Anlegen</button>
</div>


<div class="ergebnisse">
  <p>Hier k&ouml;nnen sie die Trainingsergebnisse abrufen</p> <br>
  <button>zu den Ergebnissen</button>


</div>



<div></div>

</body>
</html>
