<!DOCTYPE html>
<html>

<header>
  <meta lang="DE">
  <meta charset="UTD-8">
  <meta name="author" content="Chris Leon Brinkhoff">

</header>
<body>


<div class="trainingsdefinitionDoz">
  <p>Trainingsdefinition Bitte w&auml;hlen sie aus f&uuml;r welche Kategorie eine Aufgabe angelegt werden soll  </p><br>
  <button>Grammatik</button>
  <button>L&uuml;ckentext</button>
  <button>Zeichensetzung</button>
  <button>gro&szlig;/klein Schreibung</button>

</div>

<div class="SchwierigkeitskategorieDoz">
  <p>Bitte W&auml;hlen sie die  Schwierigkeit aus</p><br>
  <button>einfach </button>
  <button>mittel</button>
  <button>schwer</button>

</div>


<div class="anlgenBtn">
  <button>Training Anlegen</button>
</div>


<div class="ergebnisse">
  <p>Hier k&ouml;nnen sie die Trainingsergebnisse abrufen</p> <br>
  <button>zu den Ergebnissen</button>


</div>



<div></div>

</body>
</html>
